[submodule "board_test/mcu_libs"]
	path = board_test/mcu_libs
	url = https://github.com/VladisM/mcu_libs.git
[submodule "system/u-boot"]
	path = system/u-boot
	url = https://github.com/VladisM/u-boot.git
[submodule "system/linux"]
	path = system/linux
	url = https://github.com/VladisM/linux.git
[submodule "system/busybox"]
	path = system/busybox
	url = https://git.busybox.net/busybox
[submodule "system/binutils"]
	path = system/binutils
	url = https://sourceware.org/git/binutils-gdb.git
[submodule "system/gcc"]
	path = system/gcc
	url = https://gcc.gnu.org/git/gcc.git
[submodule "system/uclibc-ng"]
	path = system/uclibc-ng
	url = https://git.uclibc-ng.org/git/uclibc-ng.git
[submodule "system/elf2flt"]
	path = system/elf2flt
	url = https://github.com/uclinux-dev/elf2flt.git
